<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Board Create</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create <br/>
title : <input type="text" id="input_title" /> <br/>
content : <input type="text" id="input_content" /> <br/>
author : <input type="text" id="input_author" /> <br/>
<button onclick="create_board()">입력하기!</button>

<script>
  function create_board(){
    $.ajax({
      url: '/api/board',
      method: 'POST',
      contentType : 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#input_id").val()
        , title : $("#input_title").val()
        , content : $("#input_content").val()
        , author : $("#input_author").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>

</body>
</html>