<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create <br/>
title : <input type="text" id="input_title" /> <br/>
content : <input type="text" id="input_content" /> <br/>
author : <input type="text" id="input_author" /> <br/>
<button onclick="create_post()">입력하기!</button>

<script>
    function create_post(){
        $.ajax({
            url: '/api/post/create',
            method: 'GET',
            data : {
                title : $("#input_title").val()
                , content : $("#input_content").val()
                , author : $("#input_author").val()
            },
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>