<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Detail</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail <br/>
id : <input type="number" id="input_id" /> <br/>
title : <input type="text" id="input_title" /> <br/>
content : <input type="text" id="input_content" /> <br/>
author : <input type="text" id="input_author" /> <br/>
<button onclick="detail_post()">조회하기</button>
<button onclick="update_post()">수정하기</button>
<button onclick="delete_post()">삭제하기</button>

<script>
  let location_href = location.href;
  //alert(location_href);

  let arrayHref = location_href.split("/");
  let tempId = arrayHref[arrayHref.length - 1];
  //alert(tempId);

  if(tempId.includes("?")){
    let arrayId = tempId.split("?");
    tempId = arrayId[0];
  }
  //alert(tempId);
  $( document ).ready(function() {
    $("#input_id").val(tempId);
    detail_post();
  });


  function delete_post(){
    $.ajax({
      url: '/api/post/delete',
      method: 'GET',
      data : {
        id : $("#input_id").val()
      },
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function update_post(){
    $.ajax({
      url: '/api/post/update',
      method: 'GET',
      data : {
        id : $("#input_id").val()
        , title : $("#input_title").val()
        , content : $("#input_content").val()
        , author : $("#input_author").val()
      },
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function detail_post(){
    $.ajax({
      url: '/api/post/detail/' + $("#input_id").val(),
      method: 'GET',
      success: function (data, status, xhr) {
        alert("data :" + JSON.stringify(data));
        let post = data;
        $("#input_title").val(post.title);
        $("#input_content").val(post["content"]);
        $("#input_author").val(post["author"]);
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>

</body>
</html>