<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Detail</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail <br/>
id : <input type="number" id="input_id" readonly="readonly"/> <br/>
deleted : <input type="checkbox" id="input_deleted" /> <br/>
userId : <input type="text" id="input_userId" /> <br/>
title : <input type="text" id="input_title" /> <br/>
content : <input type="text" id="input_content" /> <br/>
img : <input type="text" id="input_img" /> <br/>
<img id="image_img" style="height: 100px"/><br/>
imgs :
<div id="div_imgs"></div><br/>
<button onclick="detail_post()">조회하기</button>
<button onclick="update_post()">수정하기</button>
<button onclick="delete_post()">삭제하기</button>

<script>
  function delete_post(){
    $.ajax({
      url: '/api/post',
      method: 'DELETE',
      contentType : 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#input_id").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function update_post(){
    $.ajax({
      url: '/api/post',
      method: 'PUT',
      contentType : 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#input_id").val()
        , deleted : $("#input_deleted").prop("checked")
        , title : $("#input_title").val()
        , content : $("#input_content").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }

  $(function(){
    let tempHref = location.href;
    let tempArray = tempHref.split("/");
    if(tempArray.length > 0){
      tempHref = tempArray[tempArray.length -1];
    }
    tempArray = tempHref.split("?");
    if(tempArray.length > 0){
      tempHref = tempArray[0];
    }
    $("#input_id").val(tempHref);
    detail_post();
  });
  function detail_post(){
    $.ajax({
      url: '/api/post',
      method: 'GET',
      data : {
        id : $("#input_id").val()
      },
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
        let post = data;

        let tempKeys = Object.keys(post);
        for(let each of tempKeys){
          let tempType = $("#input_" + each).attr("type");
          if(tempType === "checkbox"){
            $("#input_" + each).prop("checked", post[each]);
          } else {
            $("#input_" + each).val(post[each]);
          }
        }

        $("#image_img").attr("src", post["img"]);

        let imgs = post["imgs"];
        for(let each of imgs) {
          $("#div_imgs").append(
                  '<img src="'+each["img"]+'" style="height: 100px"/> <br/>'
          );
        }
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>

</body>
</html>