<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User LOGIN</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
login <br/>
username(ID) : <input type="text" class="input_param" name="username" id="input_username" /> <br/>
password : <input type="password" class="input_param" name="password" id="input_password" /> <br/>
<button onclick="login_user()">로그인하기</button>

<script>
    function login_user(){

        let tempParam = {};
        let input_param = $(".input_param");
        for(let each of input_param){
            tempParam[$(each).attr("name")] = $(each).val();
        }
        $.ajax({
            url: '/api/user/login',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify(tempParam),
            success: function (data, status, xhr) {
                alert("data : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>