<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>multiple</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
곱셈 결과는?
<span th:text="${result}">-</span>


<input type="number" id="input_a" />
<input type="number" id="input_b" />

<button onclick="listener_multiple()">곱하기!</button>

<script>
  function listener_multiple(){
    $.ajax({
      url: '/api/multiple',
      method: 'GET',
      data : {
        a : $("#input_a").val()
        , b : $("#input_b").val()
      },
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>

</body>
</html>