<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sprbasic2025.mapper.UserMapper">
    <select id="username" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.username = #{username}
    </select>
    <select id="login" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.username = #{username}
          AND user.password = #{password}
    </select>
    <!---->
    <select id="detail" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
             , user.deleted
             , user.created_at as createdAt
             , user.modified_at as modifiedAt
             , user.username
             , user.name
             , user.phone
        FROM user
        WHERE user.id = #{id}
    </select>

    <select id="list" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.id is not NULL
        <if test = "deleted != null">AND user.deleted = #{deleted}</if>
        <if test = "username != null and username !=''">AND user.username = #{username}</if>
        <if test = "name != null and name !=''">AND user.name LIKE CONCAT('%', #{name}, '%')</if>
        <if test = "phone != null and phone !=''">AND user.phone LIKE CONCAT('%', #{phone}, '%')</if>
    </select>

    <select id="pagedList" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.id is not NULL
        <if test = "deleted != null">AND user.deleted = #{deleted}</if>
        <if test = "username != null and username !=''">AND user.username = #{username}</if>
        <if test = "name != null and name !=''">AND user.name LIKE CONCAT('%', #{name}, '%')</if>
        <if test = "phone != null and phone !=''">AND user.phone LIKE CONCAT('%', #{phone}, '%')</if>
        ORDER BY
        <if test = "orderby != null and orderby =='id'">user.id</if>
        <if test = "orderby != null and orderby =='name'">user.name</if>
        <if test = "orderway != null and orderway =='desc'"> DESC</if>
        <if test = "orderway != null and orderway =='asc'"> ASC</if>
        LIMIT #{offset}, #{perpage}
    </select>
    <select id="pagedListCount" parameterType="hashMap" resultType="Integer">
        SELECT count(user.id) as listsize
        FROM user
        WHERE user.id is not NULL
        <if test = "deleted != null">AND user.deleted = #{deleted}</if>
        <if test = "username != null and username !=''">AND user.username = #{username}</if>
        <if test = "name != null and name !=''">AND user.name LIKE CONCAT('%', #{name}, '%')</if>
        <if test = "phone != null and phone !=''">AND user.phone LIKE CONCAT('%', #{phone}, '%')</if>
    </select>

    <select id="scrollList" parameterType="hashMap" resultType="com.example.sprbasic2025.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.id is not NULL
        <if test = "deleted != null">AND user.deleted = #{deleted}</if>
        <if test = "username != null and username !=''">AND user.username = #{username}</if>
        <if test = "name != null and name !=''">AND user.name LIKE CONCAT('%', #{name}, '%')</if>
        <if test = "phone != null and phone !=''">AND user.phone LIKE CONCAT('%', #{phone}, '%')</if>

        <if test = "orderway != null and orderway =='desc'">
            <if test = "cursor != null and cursor !=''">AND #{cursor} > user.id </if>
            ORDER BY user.id DESC
        </if>
        <if test = "orderway != null and orderway =='asc'">
            <if test = "cursor != null and cursor !=''">AND user.id > #{cursor}</if>
            ORDER BY user.id ASC
        </if>
        LIMIT 0, #{perpage}
    </select>
</mapper>